<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="side-bar">
            <div class="header">
                <h1 class="title">PDFShelf</h1>
                <input class="search" id="search-input" type="text" placeholder="Search">
            </div>
            <div class="side-bar-item">
                <a href="#">Books</a>
            </div>
            <div class="side-bar-item active">
                <a href="#">Folders</a>
            </div>
            <div class="side-bar-item options">
                <a href="#">Options</a>
            </div>
        </div>
        <div class="content">
            <div class="action-bar">
                <h2>Folders</h3>
                    <!-- <span class="dimmed-text">x folders</span> -->
                    <input id="path-input" type="text" placeholder="Folder path">
                    <button id="open-add-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder-plus" viewBox="0 0 16 16">
                            <path
                                d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z" />
                            <path
                                d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                        Add
                    </button>
            </div>
            <div class="folders">
                {% for folder in folders %}
                <div class="folder-card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-folder"
                            viewBox="0 0 16 16">
                            <path
                                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                        </svg>
                    </div>
                    <div class="name" title="{{ folder.name }}">
                        {{ folder.name }}
                    </div>
                    <div class="path" title="{{ folder.path }}">
                        {{ folder.path }}
                    </div>
                    <button class="button-secondary">Add files</button>
                </div>
                {% endfor %}
                <div class="folder-card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-folder"
                            viewBox="0 0 16 16">
                            <path
                                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z">
                            </path>
                        </svg>
                    </div>
                    <div class="name" title="datastructures-and-algorithms">
                        datastructures-and-algorithms
                    </div>
                    <div class="path" title="/home/arthurpmrs/books/haskell">
                        /home/arthurpmrs/books/haskell
                    </div>
                    <button class="button-secondary">Add files</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <dialog class="modal" id="add-folder-modal">
        <h2>Add new folder</h2>
        <div class="form">
            <label for="folder-name">Folder name</label>
            <input type="text" id="add-folder-name" placeholder="Folder name">
            <label for="folder-path">Folder path</label>
            <input type="text" id="add-folder-path" placeholder="Folder path">
            <div class="controls">
                <div class="message"></div>
                <button id="add-folder">Add</button>
                <button class="button-secondary modal-close">Close</button>
            </div>
        </div>
    </dialog>
    <script src="{{ url_for('static', path='js/folders.js')}}"></script>
</body>

</html>