<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="side-bar">
            <div class="header">
                <h1 class="title">PDFShelf</h1>
                <input class="search" id="search-input" type="text" placeholder="Search">
            </div>
            <div class="side-bar-item">
                <a href="#">Books</a>
            </div>
            <div class="side-bar-item active">
                <a href="#">Folders</a>
            </div>
            <div class="side-bar-item options">
                <a href="#">Options</a>
            </div>
        </div>
        <div class="content">
            <div class="action-bar">
                <h2>Folders</h3>
                <!-- <span class="dimmed-text">x folders</span> -->
                <input id="path-input" type="text" placeholder="Folder path">
                <button id="add-folder-button">Add</button>
            </div>
            <div class="folders">
                {% for folder in folders %}
                <div class="folder-card">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                          </svg>
                    </div>
                    <div class="name">
                        {{ folder.name }}
                    </div>
                    <div class="path">
                        {{ folder.path }}
                    </div>
                    <button class="button-secondary">Add files</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>