<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('node_modules', path='/bootstrap-icons/font/bootstrap-icons.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="side-bar">
            <div class="header">
                <h1 class="title">PDFShelf</h1>
                <input class="search" id="search-input" type="text" placeholder="Search">
            </div>
            <div class="side-bar-item">
                <a href="#">Books</a>
            </div>
            <div class="side-bar-item active">
                <a href="#">Folders</a>
            </div>
            <div class="side-bar-item options">
                <a href="#">Options</a>
            </div>
        </div>
        <div class="content">
            <div class="action-bar">
                <h2>Folders</h3>
                    <!-- <span class="dimmed-text">x folders</span> -->
                    <input id="path-input" type="text" placeholder="Folder path">
                    <button id="open-add-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-folder-plus" viewBox="0 0 16 16">
                            <path
                                d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2Zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672Z" />
                            <path
                                d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                        Add
                    </button>
            </div>
            <div class="folders">
                {% for folder in folders %}
                <div class="folder-card" id="{{ folder.folder_id }}">
                    <div class="icon">
                        {% if folder.active == True %}
                        <i class="bi bi-folder-check" style="color:#67baa7;"></i>
                        {% else %}
                        <i class="bi bi-folder-x" style="color:#ff5695;"></i>
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="name" title="{{ folder.name }}">
                            {{ folder.name }}
                        </div>
                        <div class="path" title="{{ folder.path }}">
                            {{ folder.path }}
                        </div>
                    </div>
                    <div class="controls">
                        <button class="secondary files">Files</button>
                        <button class="secondary edit">Edit</button>
                        <button class="secondary delete">Delete</button>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modals -->
    <dialog class="modal" id="add-folder-modal">
        <h2>Add new folder</h2>
        <div class="form">
            <label for="folder-name">Folder name</label>
            <input type="text" id="add-folder-name" placeholder="Folder name">
            <label for="folder-path">Folder path</label>
            <input type="text" id="add-folder-path" placeholder="Folder path">
            <div class="controls">
                <div class="message"></div>
                <button class="main-action" id="add-folder">Add</button>
                <button class="secondary modal-close">Close</button>
            </div>
        </div>
    </dialog>
    <dialog class="modal" id="edit-folder-modal">
        <h2>Edit folder</h2>
        <div class="form">
            <label for="folder-name">New folder name</label>
            <input type="text" id="edit-folder-name" placeholder="Folder name">
            <label for="folder-path">New folder path</label>
            <input type="text" id="edit-folder-path" placeholder="Folder path">
            <div class="controls">
                <div class="message"></div>
                <button class="main-action" id="edit-folder">Edit</button>
                <button class="secondary modal-close">Close</button>
            </div>
        </div>
    </dialog>
    <dialog class="modal" id="delete-confirmation-modal">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-exclamation-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
            </svg>
            Are you sure?
        </h2>
        <p class="delete-message"></p>
        <div class="controls">
            <div class="message"></div>
            <button class="main-action" id="delete-folder">Delete</button>
            <button class="secondary modal-close">Close</button>
        </div>
    </dialog>
    <script src="{{ url_for('static', path='js/folders.js')}}"></script>
</body>

</html>