:root {
    --text-color: #f5f5f5;
    --dimmed-text-color: #999;
    --accent-color: #7a5cf9;
    /* --background-color-1: #424242; */
    /* --background-color-2: #494949; */
    /* --background-color-3: #535353; */
    --background-color-1: #141625;
    --background-color-2: #1f213a;
    --background-color-3: #2a2c45;
    --background-color-4: #5c5c5c;
    --border-color: #999;
    /*--border-color-up: rgb(179, 179, 179); */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
body {
    background-color: var(--background-color-1);
    color: var(--text-color);
}

button {
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    background-color: var(--accent-color);
    cursor: pointer;
    outline: none;
    color: #f5f5f5;
    padding: 8px 26px;
}
button:hover {
    /* background-color: var(--background-color-3); */
    filter: brightness(110%);
    /* border: 1px solid var(--border-color-up); */
}

button:active {
    /* background-color: var(--background-color-4); */
    filter: brightness(100%);
    /* border: 1px solid rgb(160, 160, 160) */
}

input {
    box-sizing: border-box;
    border: 1px solid var(--background-color-3);
    border-radius: 6px;
    background-color: var(--background-color-3);
    color: #f5f5f5;
    padding: 8px 10px;
    outline: none;
}
input:focus {
    border: 1px solid var(--accent-color);
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.button-secondary {
    background-color: var(--background-color-2); 
}

.button-secondary:hover {
    background-color: var(--accent-color);
    filter: brightness(110%);
}

.button-secondary:active {
    background-color: var(--accent-color);
    filter: brightness(100%);
}

/* Importer */
.container {
    display:flex;
    height:100%;
    /* border: 3px solid var(--border-color); */
}

.container .content {
    flex:1;
}

.container .side-bar {
    display: flex;
    flex-direction: column;
    width: 26%;
    max-width: 250px;
    min-width: 120px;
    padding: 20px 10px;
    background-color: var(--background-color-2);
}

.side-bar .header {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}
.side-bar .title {
    margin-bottom: 12px;
}
.side-bar .header .search {
    width: 100%;
}
.side-bar .side-bar-item {
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 6px;
    cursor: pointer;
    background-color: var(--background-color-2);
    color: #f5f5f5;
}


.side-bar-item.active {
    background-color: var(--accent-color);
}

.side-bar .side-bar-item a {
    text-decoration: none;
    color: #f5f5f5;
}

.side-bar-item.options {
    margin-top: auto;
}


.content {
    display:flex;
    flex-direction: column;
    padding: 20px 40px;
}

.container h2 {
    margin: 0;
    padding: 0;
}

.action-bar {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}

#path-input {
    margin-left: auto;
    width: 40%;
    margin-right: 6px;
}

.folders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.folder-card {
    display: flex;
    /* justify-content: space-between; */
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 12px;
    background-color: var(--background-color-2);
    border-radius: 6px;
}

.folder-card .name {
    padding-left: 30px;
    line-height: 0%;
}

.folder-card .path {
    padding-left: 24px;
    font-size: 14px;
    color: var(--dimmed-text-color);
}

.folder-card button {
    margin-left: auto;
}

.folder-card .icon {
    display: flex;
}

.folder-card .icon svg {
    color: var(--text-color);
    width: 24px;
    height: 24px;
    align-self: center;
}

